*{
    box-sizing: border-box;
}

html{
height:100%;
width:100%;
}

body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    /* display:flex;
    flex-direction: column;
    justify-content: center;
     */
}
.score-wrap{
    /* display:flex;
    justify-content: center;
    margin-bottom:3rem;
    flex-direction: column;
    align-items: center;
 */
}

.scoreboards{
    width:50%;
   max-width:50%;
    display:flex;
    justify-content: space-between;
    margin-top:2rem;
    
}

.signs-wrap {
    width:100%; 
    display:flex;
justify-content: center;

}





.sign {
    font-size:80px;
    margin:0;
    padding:2rem 1rem;

}

.button-wrap {

display:flex;
justify-content: center;
margin:3rem 0;

}

.myButton {
 
        background-color: #3882F6;
        padding:0.5rem 1.4rem;
        border-radius: 0.5rem;
        border:1px solid #F9FAF8;
        color:#F9FAF8;
        font-weight: bold;
        font-size:1.1rem;
        cursor:pointer;
        transition:    transform  padding 0.5s;
        
        }
        
.feed{
    display:flex;
    flex-direction: column;
    align-items: center;
}

