*{
    box-sizing: border-box;
}

html{
height:100%;
width:100vw;
}

body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.score-wrap{
    display:flex;
    justify-content: center;
    margin-bottom:4rem;
}

.signs-wrap {
    /* height: 100%;
    width:100%; */
    display:flex;

    justify-content: center;
margin:2rem 0;
}





.sign {
    font-size:80px;
    margin:0;
    padding:2rem 1rem;

}

.button-wrap {

display:flex;
justify-content: center;
margin-bottom:3rem;

}

.myButton {
 
        background-color: #3882F6;
        padding:0.5rem 1.4rem;
        border-radius: 0.5rem;
        border:1px solid #F9FAF8;
        color:#F9FAF8;
        font-weight: bold;
        font-size:1.1rem;
        cursor:pointer;
        transition:    transform  padding 0.5s;
        
        }
        
.feed{
    display:flex;
    flex-direction: column;
    align-items: center;
}